# Artificial Neural Network

## Data preprocessing

### Import Dataset and important liberary

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv("Churn_modelling.csv")
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
X = dataset.iloc[:,:-1]
Y = dataset.iloc[:,-1]

In [4]:
X.drop(labels=X.iloc[:,:3].columns, axis=1, inplace=True)

In [5]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [7]:
geo_dummie = pd.get_dummies(X['Geography'], drop_first = True)
gen_dummie = pd.get_dummies(X['Gender'], drop_first = True)

In [8]:
X.drop(labels=['Geography','Gender'], axis=1, inplace=True)
X = pd.concat([X, geo_dummie, gen_dummie], axis=1)
X

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,0,0,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,0,0

### Split Data into train test data

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size = 0.22, random_state=10)

In [10]:
from sklearn.preprocessing import StandardScaler
sc_scale = StandardScaler()
X_train = sc_scale.fit_transform(X_train)
X_test = sc_scale.fit_transform(X_test)

## Creating Aritificial Neural Network


### Import Keras Liberaries and Packages

In [11]:
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LeakyReLU, PReLU, ELU
from keras.layers import Dropout

In [12]:
#Initialising the ANN
classifier = Sequential()

In [19]:
classifier.add(Dense(input_dim=11, units = 6, kernel_initializer = 'he_uniform', activation='relu'))
classifier.add(Dense(units = 6, kernel_initializer = 'he_uniform', activation = 'relu'))
classifier.add(Dense(units= 1,kernel_initializer = 'glorot_uniform', activation = 'sigmoid'))

In [24]:
classifier.compile(optimizer='Adamax', loss='binary_crossentropy', metrics=['accuracy'])

In [27]:
model = classifier.fit(X_train, y_train, batch_size=10, epochs=70, validation_split=0.33)

Epoch 1/70
523/523 [==============================] - 1s 2ms/step - loss: 0.4124 - accuracy: 0.8189 - val_loss: 0.4240 - val_accuracy: 0.8113
Epoch 2/70
523/523 [==============================] - 1s 2ms/step - loss: 0.4116 - accuracy: 0.8186 - val_loss: 0.4238 - val_accuracy: 0.8109
Epoch 3/70
523/523 [==============================] - 2s 4ms/step - loss: 0.4108 - accuracy: 0.8197 - val_loss: 0.4225 - val_accuracy: 0.8140
Epoch 4/70
523/523 [==============================] - 1s 2ms/step - loss: 0.4100 - accuracy: 0.8211 - val_loss: 0.4220 - val_accuracy: 0.8136
Epoch 5/70
523/523 [==============================] - 1s 2ms/step - loss: 0.4091 - accuracy: 0.8218 - val_loss: 0.4222 - val_accuracy: 0.8113
Epoch 6/70
523/523 [==============================] - 1s 2ms/step - loss: 0.4085 - accuracy: 0.8209 - val_loss: 0.4207 - val_accuracy: 0.8128
Epoch 7/70
523/523 [==============================] - 1s 2ms/step - loss: 0.4078 - accuracy: 0.8222 - val_loss: 0.4198 - val_accuracy: 0.8132
Epoch 8/70
523/523 [==============================] - 1s 2ms/step - loss: 0.4070 - accuracy: 0.8222 - val_loss: 0.4190 - val_accuracy: 0.8151
Epoch 9/70
523/523 [==============================] - 1s 2ms/step - loss: 0.4062 - accuracy: 0.8220 - val_loss: 0.4184 - val_accuracy: 0.8132
Epoch 10/70
523/523 [==============================] - 2s 3ms/step - loss: 0.4055 - accuracy: 0.8226 - val_loss: 0.4173 - val_accuracy: 0.8132
Epoch 11/70
523/523 [==============================] - 1s 3ms/step - loss: 0.4045 - accuracy: 0.8228 - val_loss: 0.4163 - val_accuracy: 0.8144
Epoch 12/70
523/523 [==============================] - 1s 2ms/step - loss: 0.4036 - accuracy: 0.8235 - val_loss: 0.4154 - val_accuracy: 0.8151
Epoch 13/70
523/523 [==============================] - 1s 2ms/step - loss: 0.4028 - accuracy: 0.8224 - val_loss: 0.4154 - val_accuracy: 0.8120
Epoch 14/70
523/523 [==============================] - 2s 3ms/step - loss: 0.4018 - accuracy: 0.8241 - val_loss: 0.4130 - val_accuracy: 0.8167
Epoch 15/70
523/523 [==============================] - 1s 2ms/step - loss: 0.4011 - accuracy: 0.8241 - val_loss: 0.4133 - val_accuracy: 0.8140
Epoch 16/70
523/523 [==============================] - 1s 2ms/step - loss: 0.4003 - accuracy: 0.8249 - val_loss: 0.4114 - val_accuracy: 0.8163
Epoch 17/70
523/523 [==============================] - 1s 2ms/step - loss: 0.3993 - accuracy: 0.8243 - val_loss: 0.4106 - val_accuracy: 0.8167
Epoch 18/70
523/523 [==============================] - 1s 2ms/step - loss: 0.3986 - accuracy: 0.8255 - val_loss: 0.4098 - val_accuracy: 0.8167
Epoch 19/70
523/523 [==============================] - 1s 2ms/step - loss: 0.3978 - accuracy: 0.8270 - val_loss: 0.4088 - val_accuracy: 0.8171
Epoch 20/70
523/523 [==============================] - 1s 2ms/step - loss: 0.3969 - accuracy: 0.8260 - val_loss: 0.4075 - val_accuracy: 0.8190
Epoch 21/70
523/523 [==============================] - 1s 2ms/step - loss: 0.3961 - accuracy: 0.8266 - val_loss: 0.4066 - val_accuracy: 0.8190
Epoch 22/70
523/523 [==============================] - 1s 2ms/step - loss: 0.3950 - accuracy: 0.8253 - val_loss: 0.4063 - val_accuracy: 0.8155
Epoch 23/70
523/523 [==============================] - 1s 2ms/step - loss: 0.3940 - accuracy: 0.8268 - val_loss: 0.4045 - val_accuracy: 0.8190
Epoch 24/70
523/523 [==============================] - 1s 2ms/step - loss: 0.3930 - accuracy: 0.8276 - val_loss: 0.4036 - val_accuracy: 0.8171
Epoch 25/70
523/523 [==============================] - 1s 2ms/step - loss: 0.3919 - accuracy: 0.8264 - val_loss: 0.4028 - val_accuracy: 0.8144
Epoch 26/70
523/523 [==============================] - 1s 2ms/step - loss: 0.3909 - accuracy: 0.8266 - val_loss: 0.4002 - val_accuracy: 0.8214
Epoch 27/70
523/523 [==============================] - 1s 2ms/step - loss: 0.3897 - accuracy: 0.8274 - val_loss: 0.3993 - val_accuracy: 0.8202
Epoch 28/70
523/523 [==============================] - 2s 3ms/step - loss: 0.3885 - accuracy: 0.8289 - val_loss: 0.3980 - val_accuracy: 0.8210
Epoch 29/70
523/523 [==============================] - 1s 2ms/step - loss: 0.3874 - accuracy: 0.8297 - val_loss: 0.3968 - val_accuracy: 0.8221
Epoch 30/70
523/523 [==============================] - 1s 2ms/step - loss: 0.3860 - accuracy: 0.8300 - val_loss: 0.3948 - val_accuracy: 0.8237
Epoch 31/70
523/523 [==============================] - 1s 2ms/step - loss: 0.3846 - accuracy: 0.8320 - val_loss: 0.3929 - val_accuracy: 0.8272
Epoch 32/70
523/523 [==============================] - 2s 3ms/step - loss: 0.3831 - accuracy: 0.8344 - val_loss: 0.3903 - val_accuracy: 0.8303
Epoch 33/70
523/523 [==============================] - 1s 2ms/step - loss: 0.3815 - accuracy: 0.8341 - val_loss: 0.3889 - val_accuracy: 0.8311
Epoch 34/70
523/523 [==============================] - 1s 2ms/step - loss: 0.3800 - accuracy: 0.8360 - val_loss: 0.3868 - val_accuracy: 0.8330
Epoch 35/70
523/523 [==============================] - 1s 2ms/step - loss: 0.3783 - accuracy: 0.8381 - val_loss: 0.3854 - val_accuracy: 0.8357
Epoch 36/70
523/523 [==============================] - 2s 3ms/step - loss: 0.3764 - accuracy: 0.8394 - val_loss: 0.3827 - val_accuracy: 0.8369
Epoch 37/70
523/523 [==============================] - 2s 3ms/step - loss: 0.3744 - accuracy: 0.8417 - val_loss: 0.3813 - val_accuracy: 0.8400
Epoch 38/70
523/523 [==============================] - 2s 3ms/step - loss: 0.3725 - accuracy: 0.8434 - val_loss: 0.3790 - val_accuracy: 0.8416
Epoch 39/70
523/523 [==============================] - 1s 2ms/step - loss: 0.3705 - accuracy: 0.8463 - val_loss: 0.3770 - val_accuracy: 0.8435
Epoch 40/70
523/523 [==============================] - 1s 2ms/step - loss: 0.3690 - accuracy: 0.8486 - val_loss: 0.3751 - val_accuracy: 0.8443
Epoch 41/70
523/523 [==============================] - 1s 3ms/step - loss: 0.3674 - accuracy: 0.8480 - val_loss: 0.3737 - val_accuracy: 0.8466
Epoch 42/70
523/523 [==============================] - 2s 4ms/step - loss: 0.3658 - accuracy: 0.8480 - val_loss: 0.3716 - val_accuracy: 0.8474
Epoch 43/70
523/523 [==============================] - 2s 4ms/step - loss: 0.3642 - accuracy: 0.8521 - val_loss: 0.3694 - val_accuracy: 0.8474
Epoch 44/70
523/523 [==============================] - 2s 3ms/step - loss: 0.3625 - accuracy: 0.8521 - val_loss: 0.3662 - val_accuracy: 0.8470
Epoch 45/70
523/523 [==============================] - 2s 3ms/step - loss: 0.3609 - accuracy: 0.8534 - val_loss: 0.3645 - val_accuracy: 0.8478
Epoch 46/70
523/523 [==============================] - 1s 2ms/step - loss: 0.3594 - accuracy: 0.8536 - val_loss: 0.3636 - val_accuracy: 0.8478
Epoch 47/70
523/523 [==============================] - 1s 2ms/step - loss: 0.3579 - accuracy: 0.8540 - val_loss: 0.3622 - val_accuracy: 0.8497
Epoch 48/70
523/523 [==============================] - 1s 2ms/step - loss: 0.3565 - accuracy: 0.8551 - val_loss: 0.3598 - val_accuracy: 0.8509
Epoch 49/70
523/523 [==============================] - 2s 3ms/step - loss: 0.3551 - accuracy: 0.8567 - val_loss: 0.3582 - val_accuracy: 0.8517
Epoch 50/70
523/523 [==============================] - 1s 1ms/step - loss: 0.3536 - accuracy: 0.8551 - val_loss: 0.3576 - val_accuracy: 0.8528
Epoch 51/70
523/523 [==============================] - 1s 2ms/step - loss: 0.3524 - accuracy: 0.8572 - val_loss: 0.3560 - val_accuracy: 0.8544
Epoch 52/70
523/523 [==============================] - 1s 2ms/step - loss: 0.3511 - accuracy: 0.8576 - val_loss: 0.3563 - val_accuracy: 0.8544
Epoch 53/70
523/523 [==============================] - 1s 2ms/step - loss: 0.3502 - accuracy: 0.8584 - val_loss: 0.3527 - val_accuracy: 0.8563
Epoch 54/70
523/523 [==============================] - 1s 2ms/step - loss: 0.3491 - accuracy: 0.8588 - val_loss: 0.3517 - val_accuracy: 0.8567
Epoch 55/70
523/523 [==============================] - 1s 2ms/step - loss: 0.3481 - accuracy: 0.8586 - val_loss: 0.3531 - val_accuracy: 0.8563
Epoch 56/70
523/523 [==============================] - 1s 2ms/step - loss: 0.3475 - accuracy: 0.8572 - val_loss: 0.3505 - val_accuracy: 0.8571
Epoch 57/70
523/523 [==============================] - 1s 2ms/step - loss: 0.3467 - accuracy: 0.8591 - val_loss: 0.3496 - val_accuracy: 0.8575
Epoch 58/70
523/523 [==============================] - 1s 2ms/step - loss: 0.3462 - accuracy: 0.8568 - val_loss: 0.3497 - val_accuracy: 0.8571
Epoch 59/70
523/523 [==============================] - 1s 2ms/step - loss: 0.3453 - accuracy: 0.8582 - val_loss: 0.3477 - val_accuracy: 0.8594
Epoch 60/70
523/523 [==============================] - 1s 2ms/step - loss: 0.3448 - accuracy: 0.8570 - val_loss: 0.3487 - val_accuracy: 0.8579
Epoch 61/70
523/523 [==============================] - 1s 2ms/step - loss: 0.3444 - accuracy: 0.8574 - val_loss: 0.3475 - val_accuracy: 0.8579
Epoch 62/70
523/523 [==============================] - 1s 2ms/step - loss: 0.3437 - accuracy: 0.8563 - val_loss: 0.3486 - val_accuracy: 0.8559
Epoch 63/70
523/523 [==============================] - 2s 3ms/step - loss: 0.3434 - accuracy: 0.8578 - val_loss: 0.3463 - val_accuracy: 0.8579
Epoch 64/70
523/523 [==============================] - 2s 4ms/step - loss: 0.3428 - accuracy: 0.8574 - val_loss: 0.3468 - val_accuracy: 0.8571
Epoch 65/70
523/523 [==============================] - 2s 4ms/step - loss: 0.3424 - accuracy: 0.8574 - val_loss: 0.3449 - val_accuracy: 0.8606
Epoch 66/70
523/523 [==============================] - 1s 2ms/step - loss: 0.3420 - accuracy: 0.8570 - val_loss: 0.3462 - val_accuracy: 0.8571
Epoch 67/70
523/523 [==============================] - 1s 2ms/step - loss: 0.3415 - accuracy: 0.8570 - val_loss: 0.3442 - val_accuracy: 0.8610
Epoch 68/70
523/523 [==============================] - 1s 2ms/step - loss: 0.3410 - accuracy: 0.8565 - val_loss: 0.3452 - val_accuracy: 0.8575
Epoch 69/70
523/523 [==============================] - 1s 2ms/step - loss: 0.3409 - accuracy: 0.8576 - val_loss: 0.3439 - val_accuracy: 0.8610
Epoch 70/70
523/523 [==============================] - 1s 2ms/step - loss: 0.3404 - accuracy: 0.8565 - val_loss: 0.3439 - val_accuracy: 0.8594

### Evaluating the model

In [34]:
y_pred = classifier.predict(X_test)
y_pred = y_pred>0.5

In [36]:
from sklearn.metrics import accuracy_score
score = accuracy_score(y_test, y_pred)
print("Model Accuracy is :-> ", score*100,"%")

Model Accuracy is :->  85.0 %